body {
     background-image: url('/static/images/index.png');
     margin-left: 110px;
     background-size: cover;
    
 }
.next{
     background-color: #db6997;
     color: white;
     padding: 6px 20px;
     border: none;
     border-radius: 15px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     font-size: 18px;
     margin-bottom: 40px;
 }
 .predict{ background-color: #db6997;
   color: white;
   padding: 6px 20px;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   font-size: 18px;
   margin-top: 40px;
 }
 .predict:hover, .next:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05) ;
  }

 .age{
    color: #705892;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    font-family: cursive;
    background-color: #d6fffe;
 }
 h1{
     color: #2B6058;
     font-family: cursive;
     font-weight: bold;
     font-size: 64px;
     padding-top: 0;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 label{
     font-family: cursive;
     color: #705892;
     font-size: 16px;
     padding-top: 0px;
     padding-bottom: 0px;
     margin: 0;
   }
 select{
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: #d6fffe;
    color: #705892;
    padding: 4px 8px;
    width: 100%;
    font-family: cursive;
 }
 .main-div1, .main-div2{
    display: flex;
    flex-direction: row;
    width: 90%;
    column-gap: 40px;
 }
 .subdiv{
     width: 50%;
 }
 .form-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 20px;
 }
 .next-btn{
    display:flex;
    display: flex;
    justify-content: flex-end;
    width: 90%;
 }
 .pred-btn{
    display:flex;
    display: flex;
    justify-content: flex-end;
    width: 100%;
 }